<div class="page-header">
  <h1>
    Projects
    <a href="/projects/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Projects (start typing)" class="form-control">
  </div>
</div>

<hr>

<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#my_projects" aria-controls="home" role="tab" data-toggle="tab">My Projects</a></li>
    <li role="presentation"><a href="#all_projects" aria-controls="profile" role="tab" data-toggle="tab">All Projects</a></li>
    <li role="presentation"><a href="#liked_projects" aria-controls="messages" role="tab" data-toggle="tab">Liked Projects</a></li>
  </ul>

  <hr>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="my_projects">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover table-striped">
          <tr>
            <th>Name</th>
            <th>User</th>
            <th>Description</th>
            <th>Customer Pain</th>
            <th>Status</th>
          </tr>
          <% @my_projects.each do |project| %>
            <tr>
              <td><a href="/projects/<%= project.id %>"><%= project.project_name %></a></td>
              <td><%= project.user.first_name + " " + project.user.last_name %></td>
              <td><%= project.description %></td>
              <td><%= project.customer_pain %></td>
              <td><%= project.status %></td>
            </tr>
          <% end %>
          </table>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="all_projects">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover table-striped">
          <tr>
            <th>Name</th>
            <th>User</th>
            <th>Description</th>
            <th>Customer Pain</th>
            <th>Status</th>
            <th>     </th>
          </tr>
          <% @all_projects.each do |project| %>
            <tr>
              <td><a href="/projects/<%= project.id %>"><%= project.project_name %></a></td>
              <td><%= project.user.first_name + " " + project.user.last_name %></td>
              <td><%= project.description %></td>
              <td><%= project.customer_pain %></td>
              <td><%= project.status %></td>
              <td>
        <form action="/create_project_like" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
          <input name="user_id" type="hidden" value = "<%= current_user.id %>">
          <input name="project_id" type="hidden" value = "<%= project.id %>">
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-success">
                 Like
              </button>
            </div>
          </div>
        </form>
              </td>
            </tr>
          <% end %>
          </table>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="liked_projects">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover table-striped">
          <tr>
            <th>Name</th>
            <th>User</th>
            <th>Description</th>
            <th>Customer Pain</th>
            <th>Status</th>
          </tr>
          <% @liked_projects.each do |project| %>
            <tr>
              <td><a href="/projects/<%= project.id %>"><%= project.project_name %></a></td>
              <td><%= project.user.first_name + " " + project.user.last_name %></td>
              <td><%= project.description %></td>
              <td><%= project.customer_pain %></td>
              <td><%= project.status %></td>
            </tr>
          <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
